body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #777;
    background-color: #777777;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 960px;
    justify-content: center;

    
}

header {
    
    display: block;
    width: 100%;
    background: #ebebeb;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside {
    display: block;
    background: #ebebeb;
    width: 48%;
}
section {
    display: block;
    background: #ebebeb;
    width: 48%;
    padding: 5px;
}
article {
    display: block;
    background: #777;
    color: #ebebeb;
    padding: 10px;
}
nav {
    display: block;
    background: #ebebeb;
    width: 100%;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}
.footer {
    display: block;
    background: #ebebeb;
    width: 100%;
    margin-top: 10px;
}
p, article p{
    color: #777;
    background: #ebebeb;
    padding: 5px;
}
.middle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}


